body{
    border-color: white;
    color: black;
    line-height: 154%;
    margin:0;
}

.nav1{
    background-color:rgb(209, 136, 68);
    display: flex;
    margin: 0px 55px 0px 55px;
    height: 80px;
    border-radius: 12px;
  
}

.footer,img,p,form{
    margin: 0px 55px 0px 55px;
}
.footer{
    background-color:rgb(209, 136, 68);
    text-align: center;
    border-radius: 30px;
    height: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.about{
    background-color:rgb(255, 228, 202);
    margin:  0px 55px 0px 55px;
    border-radius: 30px;
}
img{
    border-radius: 23px;
}
.img{
    width: 20%;
}

p{
    margin-top: 12px;
    font-size: large;
}
.p{
    margin-top: 12px;
    background-color:rgb(255, 228, 202);
    border-radius: 30px;
}
.block{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.block{
    display: grid;
    margin: 0px 88px 0px 85px;
}
.h2{
    margin: 0;
    padding: 0;
}
#h2{
    color: white;
    font-size: 55px;
}
#h2cloud{
    font-size: 55px;
    position: relative;
    top: 12px;
    letter-spacing: -2.1px;
    gap: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 36.5px;
    left: 340px;
    font-size: 23px;
    gap: 40px;
    display: flex;
    
}

.ul1{
    font-size: 41px;
    width: 45%;

}
li{
    float: left;
    position:relative;
    left: 23px;
}
li a{
    padding: 8px;
    color: black;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.position{
    font-size: large;

   
}
.text{
    background-color:rgb(255, 228, 202);
    font-size: larger;
    margin:  0px 55px 0px 55px;
}
.section-portfolio{
    display: grid;
}
iframe{
    width: 90%;
    margin: 0px 55px 0px 100px;
    height: 540px;
    border-radius: 40px;
}
.contact{
    border-radius: 20px;
    color: rgb(44, 42, 165);
    background-color: rgb(242, 252, 248);
    margin:  0px 55px 0px 55px;
}
.yes-cl{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.no-cl{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.maybe-cl{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-input{
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    font-size: medium;
}
.block{
    color:rgb(167, 87, 12);
}